<form method="POST" action="/allMessages/<%= message.id %>?_method=PUT">
    <label>Type a message to update here:</label>
    <input type="text" name="body" value="<%= message.body %>">
    <input type="submit" name="message" value="Add to messages">
</form>