<h2>Find Therapist By Location</h2>

<form method="GET" action="/results">
    <label for="query"></label>
    <input type="checkbox" name="query" value="Seattle">Seattle<br />
    <input type="checkbox" name="query" value="Spokane">Spokane<br />
    <input type="checkbox" name="query" value="Tacoma">Tacoma<br />
    <input type="checkbox" name="query" value="Everett">Everett<br />
    <input type="text" name="query" placeholder="Anywhere, US"><br />
    <input type="submit" value="Location Search">
</form>
