<h2>Find Therapist By Location</h2>

<form method="GET" action="/results">
    <label for="query"></label>
    <input type="checkbox" name="city" value="Seattle">Seattle<br />
    <input type="checkbox" name="city" value="Spokane">Spokane<br />
    <input type="checkbox" name="city" value="Tacoma">Tacoma<br />
    <input type="checkbox" name="city" value="Everett">Everett<br />
    <input type="text" name=city value="Anywhere, US"><br />
    <input type="submit" value="Location Search">
</form>
