
<h2>Welcome to your profile, <%= user.name %> <br />
follow the links to connect with a therapist</h2>


<a href="/">Home</a>
<a href="/location">Find Therapist By Location</a>
<a href="/specialty">Find Therapist By Specialty</a>
<a href="/save">My List of Therapists</a>
<a href="/messages">Message Center</a>
