<h2>Find Therapist By Specialty</h2>
<form method="GET" action="/specialty">
    <input type="text" name="conditions" placeholder="I need help with ..."><br />
    <input type="text" name="conditions" placeholder="I feel like ..."><br />
    <input type="text" name="conditons" placeholder="open forum ..."><br />
    <input type="submit" value="Specialist Search">
</form>