<h2>Find Therapist By Specialty</h2>
<form method="GET" action="/show">
    <input type="text" name="specialty" placeholder="I need help with ..."><br />
    <input type="text" name="specialty" placeholder="I feel like ..."><br />
    <input type="text" name="specialty" placeholder="open forum ..."><br />
    <input type="submit" value="Specialist Search">
</form>